
.banner{
  height: 100vh;
  max-height: 1080px;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: .3s ease-in-out;
  @include rp(tl){
    min-height: 800px;
    
  }
  &.bannerSub{
    @include rp(tl){
      height: 200px;
      min-height: 450px;
    }
    
    // background-color: black;
    .banner-img::after{
      
      content: none;
     
    }
    .banner-section{
     
      // position: relative;
      top: unset;
      bottom: 15%;
      left: 50%;
      transform: translate(-50%,0);
      text-align: center;
      justify-content: center;
      transition: .4s ease-in-out;
      min-width: 300px;
      @include rp(tl){
        bottom: 5%;
      }
      // @include rp(mx){
      //   bottom: 5%;
      // }
      .overlay__bg{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
      }
     &__title{
        padding: 40px 115px;
        border-radius: 30px 0 30px 0;
        background-color: rgba( map-get($color, sub1 ), $alpha: .8);
        @include title(big);
        color: white;
        position: relative;
        // white-space: nowrap;
        // min-width: 250px;
        @include rp(tl){
          padding: 40px  50px;
        }
        @include rp(mx){
          padding:25px ;
        }
      // &::after{
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      //   content: "";
      //   background-image: url("../assets/layout/Group 25.png");
      //   width: 18%;
      //   height: 80%;
      //   background-size: 100%;
      //   background-size: contain;
      //   background-repeat: no-repeat;
      // }
      // &::before{
      //   transform: rotate(180deg);
      //   position: absolute;
      //   bottom: 0;
      //   left: 0;
      //   content: "";
      //   background-image: url("../assets/layout/Group 25.png");
      //   width: 18%;
      //   height: 80%;
      //   background-size: 100%;
      //   background-size: contain;
      //   background-repeat: no-repeat;
      // }
     }
    }
  }
  .banner-img{
    width: 100%;
    height: 100%;
    position: relative;
    &::after{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background : rgba(map-get($color,sub1 ), .74 ) ;
    }
    img{

      object-fit: cover;
    }
  }
  .banner-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    // overflow: hidden;
    .wrapper{
      display: flex;
      flex-wrap: wrap;
      margin: 0 -8px;
      align-items: center;
      @include rp(tl){
        justify-content: center;
      }
    }
    &__img{
      padding: 0 8px;
      position: relative;
      min-width: 230px;
      @include rp(tl){
        margin-bottom: 30px;
      }
      &::after{
        position: absolute;
        top: 0;
        left: 0;
        // transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        content: "";
        background-color: map-get($color,main );
        border-radius: 50%;
        animation: flow  5s infinite linear;
        z-index: -1;
        @keyframes flow {
          0%{
            transform:rotate(0deg)
                      translate(-15px)
                      // translateY(50%)
                      rotate(0deg);
          }
          100%{
            transform:rotate(360deg)
                        translate(-15px)
                      //  translateY(50%)
                      rotate(-360deg);
          }
        }
      }
      // z-index: 2;
      .img{
        width: 100%;
        padding-top: 100%;
        // background-color: black;
        border-radius: 50%;
        background: transparent;
        overflow: hidden;
        position: relative;
        img{
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 1;
        }
        &::before{
          position: absolute;
          top: 15px;
          left: 15px;
          // transform: translate(-50%,-50%);
          width: 95%;
          height: 95%;
          @include rp(tl){
            width: 90%;
            height: 90%;
          }
          content: "";
          border: solid 1px white;
          border-radius: 50%;
          animation: flow-reversse  3s infinite linear;
           z-index: 2;
          @keyframes flow-reversse {
            0%{
              transform:rotate(0deg)
                        translate(-7px)
                        // translateY(50%)
                        rotate(0deg);
            
            }
            100%{
              transform:rotate(-360deg)
                          translate(-7px)
                        //  translateY(50%)
                        rotate(360deg);
            }
          }
        }
       
      }
     
    }
    &__decs{
      margin-left: auto;
      padding: 0 8px;
      &--infor{
        padding: 50px 90px 50px 50px;
        @include rp(tl){
          padding: 35px;
        }
        border-radius: 30px 0 30px 0;
        background-color: map-get($color, sub1 );
        &_title{
          @include title(big);
          // @include p-line-clamp(3);
          margin-bottom: 20px;
          color: white
        }
        &_decs{
          // @include title(big);
          // @include p-line-clamp(8);
          color: white;
        }
      }
     
    }
  }
}