.box-1 {
    &__content {
    }
    &__img {
        position: relative;
        width: 100%;
        padding-top: 100%;
        img {
            position: absolute;
            top: 0%;
            left: 0%;
            right: 0%;
            bottom: 0%;
            width: 100%;
            height: 100%;
        }
    }

    &__infor {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        padding: 60px 20px 42px 20px;

        position: relative;
        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: map-get($color, main);
        }
        &--title {
            & > * {
                text-align: justify;
                @include title(sub);
                color: map-get($color, text2);
                line-height: 1.2;
                @include regular;
            }
        }
        &--desc {
            margin-top: 18px;
            & > * {
                text-align: justify;
                @include size(body1);
                color: map-get($color, text2);
                line-height: 1.2;
                @include regular;
            }
        }
    }
}

.time-post {
    position: absolute;
    top: 0;
    right: calc(0% + 40px);
    width: 82px;
    height: 82px;
    transform: translateY(-50%);

    background: map-get($color, bg);
    border: 2px solid map-get($color, main);
    border-radius: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        background: map-get($color, line1);
    }

    &::after {
        top: 50%;
        width: 2px;
        height: 25%;

        transform: translate(-50%, -100%);
    }

    &::before {
        top: 50%;
        width: 60%;
        height: 2px;
    }

    .day, .month, .year{
        position: absolute;
        top: auto;
        left: auto;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
        & > * {
            @include size(body2);
            color: map-get($color, line1);
            line-height: 1.2;
            @include regular;
        }
    }

    .day {
        transform: translateX(calc(-100% - 6px)) translateY(-100%);
        text-align: right;
    }
    .month {
        transform: translateX(6px) translateY(-100%);
        text-align: left;
    }

    .year {
        transform: translateX(-50%) translateY(6px);
        text-align: center;
        
        &>*{
            letter-spacing: 1.8px;
        }
    }
}