.info-section {
  @include section(s70, margin-top);
  @include section(s70, margin-bottom);

  background: map-get($color, bg);
  &__wrapper {
    position: relative;
    width: 100%;
  }
  &__title {
    @include spaceIndex(s80, padding-top);
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  &__content {
    @include spaceIndex(s50, padding-left);
    @include spaceIndex(s50, padding-right);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 30px 0px 30px 0px;
  }

  &__desc {
    @include spaceIndex(s36, margin-top);
    @include spaceIndex(s80, padding-bottom);

    & > * {
      text-align: center;
      @include size(body1);
      color: map-get($color, text2);
      line-height: 1.2;
    }
  }
}
