section#companion-1 
    .companion-1
      each companionVal in ['1']
        - let title = 'Lời cám ơn';
        - let infoDesc = 'Từ bữa ăn nhỏ, bộ quần áo tặng thêm hay quyển sách được quyên góp để các con học tập mỗi ngày đến những dự án giáo dục, rèn luyện sức khỏe, đào tạo chuyên sâu lớn hơn trong tương lai đều được Làng Hy Vọng cập nhật thường xuyên với lời cảm ơn sâusắc đến các đơn vị đã đồng hành, ủng hộ, gây quỹ, tài trợ cho chúng tôi để tiếp tục sự nghiệp chăm sóc, giáo dục cho các con.';
        include ../_layout/_info-section.pug
                