section#companion5 
  .companion5 
    .container 
      .companion5__title 
        each tit in ['1']
          - let title = "Tình nguyện viên";
          include ../_layout/title.pug
      .companion5-wrapper 
        form.companion5-wrapper-form.form-info(id="formCompanion")
          .form-info--overlay
            .group-input 
              label(for="") Họ và tên 
              input(type="text" id="nameFormCompanion")
            .group-input 
              label(for="") Địa chỉ 
              input(type="text" id="addFormCompanion")
            .group-input 
              label(for="") Email
              input(type="text" id="emailFormCompanion")
            .group-input 
              label(for="") Điện thoại 
              input(type="text" id="phoneFormCompanion")

            .group-note 
              p.error Thông tin điền không đúng
              p.success.hidden Gửi thông tin thành công
            
            .group-input 
              .button
                button(type="submit") Gửi thông tin