#breadcrumb{
  width: 100%;
}

.breadcrumb {
padding-top: 15px;
padding-bottom: 18px;
width: 100%;
&-list {
    list-style-type: none;
    display: flex;
}
&-item {
  margin-bottom: 10px;
  svg{
      path{
        stroke: map-get($color,text3);
      }
  }
    & > * {
        color: map-get($color, text3);
        margin-right: 12px;
        @include bold;
        text-transform: capitalize;
       
    }
    // &.active{
    //     .breadcrumb-item__link{
    //         color: map-get($color, main);
    //     }
    //     // svg{
    //     //   path{
    //     //     stroke: map-get($color, main);
    //     //   }
    //     // }
    // }
    // &__link {
       
    // }
}
}
