section#village-1 
  .village1
    .container 
      .village1-title 
      .village1-wrapper.table-column-2
        .village1-wrapper__item 
          include ../_components/card-info.pug
        .village1-wrapper__item 
          include ../_components/card-info.pug
      
