section#village2
  .village2
    .container 
      .village2__title 
        each tit in ['1']
          - let title = "Tài liệu & Báo cáo";
          include ../_layout/title.pug
      .village2-wrapper.table-row.table-column-2.between.table-column-1-ts
        - let arrayVillage2 = [["Tài liệu", `./assets/_page/village/document.png`,"./news-details.html"], ["Báo cáo", `./assets/_page/village/report.png`,"./news-details.html"]]
        each val in arrayVillage2
          - let desc = val[0];
          - let img = val[1];
          - let link = val[2];
          .village2-wrapper__item
            include ../_layout/card-document.pug
        