section#village2
  .village2
    .container 
      .village2__title 
        h1 vinh
      .village2-wrapper.table-row.table-column-2.between.table-column-1-ts
        - let arrayVillage2 = [["Tài liệu", `./assets/_page/village/document.png`,"./valliage-details.html"], ["Báo cáo", `./assets/_page/village/report.png`,"./valliage-details.html"]]
        each val in arrayVillage2
          - let desc = val[0];
          - let img = val[1];
          - let link = val[2];
          .village2-wrapper__item
            include ../_layout/card-document.pug
        