section#contact-1 
    .contact-1 
        .container
            .contact-1__title 
                each tit in ['1']
                    - let title = "Bản đồ";
                    include ../_layout/title.pug
            .contact-1__map
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.7881751352747!2d108.16915781528893!3d16.07647824351299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218e46c505ab3%3A0xb5b7a7c607f1df70!2zTMOgbmcgSHkgVuG7jW5n!5e0!3m2!1svi!2s!4v1635742768021!5m2!1svi!2s" width="100%"  height="50%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>