.nav-custom {
    position: relative;
    width: 100%;
    // z-index: 5;

    .swiper-container {
        .swiper-wrapper {
            padding: 5px 0;

            // height đều các item
            align-items: stretch;
            .swiper-slide {
                height: auto;
            }
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        z-index: 2;

        width: 60px;
        height: 60px;

        background-color: rgba(map-get($color, sub1), 0.1);
        border-radius: 50%;

        // @include rp(tl){
        //     background-color: rgba(map-get($color, sub1), .4) ;
        //     width:50px;
        //     height: 50px;
        // }

        @include rp(pm) {
            background-color: rgba(map-get($color, sub1), 0.4);
            height: 50px;
            width: 50px;
        }

        @include rp(tx) {
            background-color: rgba(map-get($color, sub1), 0.1);
        }

        @media (max-width: 1200px) {
            background-color: rgba(map-get($color, sub1), 0.4);
        }

        @include rp(mx){
            width: 46px;
            height: 46px;
        }

        svg {
            width: 30px;
            height: 30px;
            // @include rp(tl){
            //     width: 20px;
            //     height: 20px;
            // }

            @include rp(pm) {
                height: 24px;
                width: 24px;
            }

            @include rp(mx){
                width: 22px;
                height: 22px;
            }
        }
        &::after {
            content: "";
        }
    }
    .swiper-button-next {
        right: calc(-2% - 60px);

        @include rp(pm) {
            right: 20px;
        }

        @include rp(tx) {
            right: calc(-2% - 60px);
        }

        // @include rp(tl){
        //     right: 20px;
        // }
        @media (max-width: 1200px) {
            right: 20px;
        }
    }
    .swiper-button-prev {
        left: calc(-2% - 60px);

        @include rp(pm) {
            left: 20px;
        }

        @include rp(tx) {
            left: calc(-2% - 60px);
        }

        @media (max-width: 1200px) {
            left: 20px;
        }
    }
}
