		// $default: calc(14px + (16 - 14) * ((100vw - 400px) / (1600 - 400)));
$family: (
	primary: 'Montserrat',
);

$color: (
	main: #19C579,
	
	bg: #FFF,
	bg-2: #94F7BC,
	bg-3: #D8FCE7,

	sub1: #066543,
	sub2: #D8FCE7,
	bg1: #EFEFEF,

	text1: #212121,
	text2: #757575,
	text3: #9E9E9E,
	text4: #FFF,
	text5: #606060,

	text4ov: rgba(#fff, .7),

	line1: #066543,
	line2: #FFF,
	dot: #212121,
	dot2: #FFF,
	border1: #19C579,
	border2: #066543,

	info: #00529B,
	info-bg: #BDE5F8,

	success: #4F8A10,
	success-bg: #DFF2BF,

	warning: #9F6000,
	warning-bg: #FEEFB3,

	error: #D8000C,
	error-bg: #FFBABA,
);

$shadow:(
	s1: 0 3px 6px rgba(0,0,0,.16),
);

$ovlGradient: (

);



// dùng rem (1 rem = 10px)
// Cách sử dụng: @include size(s12); --> sử dụng biến s12
// ----> tương đương với font-size: 1.2rem;
// 1920 -> 10px -> 1 rem = 10px

$size: (
	body1: (
		default: 1.8rem
	),
	body2: (
		default: 16px
	),
	sub2: (
		default: 14px
	),
	button1: (
		default: 1.7rem,
	)
);

$title: (
	big:(
		default: 4.8rem,
		tx: 4rem,
		mx: 3.8rem
	),
	small:(
		default: 3.4rem,
		tx: 3rem,
		mx: 2.8rem
	),
	sub:(
		default: 2.4rem,
		tx: 2.2rem,
		mx: 2rem
	),
	body: (
		default: 1.8rem,
		tx: 1.6rem,
		mx: 1.6rem
	),
	note: (
		default: 1.6rem,
		tx: 1.5rem,
		mx: 14px
	)
);

$lineHeight:(
	
);

// Cách sử dụng: map-get($media, ps);
// Hoặc là: @include rp(ps);
$media: (
	// personal computer
	px: 1920px,
	pl: 1680px,
	pm: 1440px,
	ps: 1336px,
	// tablet
	tx: 1280px,
	tl: 1024px,
	tm: 900px,
	ts: 768px,
	// mobile
	mx: 640px,
	ml: 540px,
	mm: 480px,
	ms: 384px,
	// mobile small
	sx: 360px,
	sl: 320px
);
// $media: (
// 	// personal computer
// 	px: 1920px,
// 	pl: 1680px,
// 	pm: 1440px,
// 	ps: 1336px,
// 	// tablet
// 	tx: 1280px,
// 	tl: 1024px,
// 	tm: 900px,
// 	ts: 768px,
// 	// mobile
// 	mx: 640px,
// 	ml: 540px,
// 	mm: 480px,
// 	ms: 384px,
// 	// mobile small
// 	sx: 360px,
// 	sl: 320px
// );

// Cách sử dụng: Không tùy chỉnh trong đây (phần này mặc định)
// kích thước 1183px (grid layout)
$container-max-widths: (
	// default: 1183px,
	// tx: 860px,
	// tm: 94%,
	// pm: 1200px,
	// tx: 960px,
	// tl: 96%,
	// về talet thì sẽ width = 96%;

	default:1260px,
	tx: 1020px,
	tl: 96%
);

// kích thước 1256px (grid layout)
// $container-max-widths: (
// 	default: 1256px,
// 	ps: 960px,
// 	tl: 96%,
// 	// pm: 1200px,
// 	// tx: 960px,
// 	// tl: 96%,
// 	// về talet thì sẽ width = 96%;
// );

// Cách sử dụng: @include block(banner, margin, 20px); --> sử dụng biến s12
// tham số 1: tên key trong block
// tham số 2: thuộc tính cần gán
// tham số 3: (có thể bỏ qua) còn nếu có thì sẽ là
//				giá trị trái phải như của margin or padding
// ----> tương đương với margin: 1080px 20px;
$block: (
	pagiSwiper: (
		default: 43px,
	),

	swiperBtn: (
		default: 42px,
		ts: 36px,
		ml: 32px,
	),
	
);

// Cách sử dụng: @include space(s134, margin, 20px); --> sử dụng biến s12
// tham số 1: tên key trong block
// tham số 2: thuộc tính cần gán
// tham số 3: (có thể bỏ qua) còn nếu có thì sẽ là
//				giá trị trái phải như của margin or padding
// ----> tương đương với margin: 1080px 20px;
// y như block
// chú ý khi khoảng cách giống nhau nhưng media khác nhau thì có thể thêm đằng sau là -2 -3 (loại 2 loại 3)

$space: (
	s70:(
		default: 70px,
	),
);

// khoảng cách các section
$section: (
	s70: (
		default: 70px,
		tx: 64px,
		mx: 56px
	),
	s48:(
		default: 48px,
		tx: 44px,
		mx: 36px,
	),
	s150:(
		default: 150px,
		tx: 100px,
		mx: 50px,
	)
);


///////////////////// LAYOUT ////////////////////////////


///////////////////// PAGE ////////////////////////////
@import "../_variables/index";
