if bannerIndex
  section#banner
    .banner
      .banner-img
        img(src="./assets/layout/index-banner.png", alt="")
      .banner-section.container
        .wrapper
          .banner-section__img.column-5
            .img
              img(src="./assets/layout/index-banner-1.png", alt="")
          .banner-section__decs.column-6.column-12-ts
            .banner-section__decs--infor
              .banner-section__decs--infor_title
                p Lorem ipsum dolor sit amet
              .banner-section__decs--infor_decs
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
if bannerSub
  section#banner
    .banner.bannerSub
      .banner-img
        img()&attributes(imgBanner)
      .banner-section
        .overlay__bg.hoavan.hoavan--white.hoavan--rotate
        .banner-section__title= pageName
