.box-1  
    .box-1__content 
        .box-1__img 
            img.lazyload(data-src= img, alt="")
        .box-1__infor 
            .time-post 
                .day 
                    span 09
                .month 
                    span 01
                .year 
                    span 2017
            .box-1__infor--title 
                h2= title
            .box-1__infor--desc 
                p= desc
