section#popupImg
  .close
    .close--rotate 
      .line
      .line
  .popupImg
    .container 
      .popupImg-container
        //- iframe(class="popupImg-container--ratio" src="https://momento360.com/e/u/f4304b45447842cea1b9c8e5ee02b7c1?utm_campaign=embed&utm_source=other&heading=0&pitch=0&field-of-view=75&size=medium" allowfullscreen)
        img(class="popupImg-container--ratio" src="")