.card-members 
  .card-members__img
    img.lazyload(data-src= img, alt="")
  .card-members-content
    .card-members-content__title
      h3= title
    .card-members-content__desc
      p= desc
    .card-members-content__more
      a.btn(href= link)
        span Xem thông tin