.card-document
  .effect-behind
  .card-document-wrapper
    .card-document-wrapper__img
      img.lazyload(data-src= img, alt="")
    .card-document-wrapper__btn 
      a.btn(href= link) 
        span= desc
