@import "abstracts/variables"; 
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/grid";

@import "abstracts/pagination";
@import "abstracts/swiper";
@import "abstracts/buttons";
@import "abstracts/dropdown";
@import "abstracts/forms";
@import "abstracts/overlay";

@import "base/animations";
@import "base/reset";
@import "base/fonts";
@import "base/utilities";

// component
@import "components/breadcrumb";

@import "components/language";

// layout
@import "layout/header";
@import "layout/banner";
@import "layout/footer";

// page
@import "pages/index/style";
@import "pages/story/style";

@import "pages/village/style.scss";

