.index-1 {
  @include space(s70, margin-top);
  @include space(s70, margin-bottom);
  background: map-get($color , bg );
  &__wrapper{
    position: relative;
    width: 100%;
    .hoavan-line-1{
      position: absolute;
      bottom: 0;
      left: 0;
      // width: 100%;
      // height: 100%;
      // object-position: bottom;
      //  
      svg{
        
      }
    }
    .hoavan-line-2{
      position: absolute;
      top: 0;
      right: 0;
      // width: 50%;
      // height: 50%;
      object-position: right;
      
    }
  }
  &__content{
    @include spaceIndex(s50, padding-left);
    @include spaceIndex(s50, padding-right);
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    border-radius: 30px 0px 30px 0px;
   
  }
  &__title{
    @include spaceIndex(s80,padding-top);
    text-align: center;
    position: relative;
    &::after{
      position: absolute;
      top: calc(100% + 5px);
      left: 50%;
      transform: translateX(-50%);
      width: 40%;
      height: 2px;
      background: map-get($color , line1 );
    }
    &::before{
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 10px;
      height: 10px;
      border-radius: 100px;
      background: map-get($color , line1 );
    }
    &>*{
      @include title(small);
      color: map-get($color , text1);
      line-height: 1.2;
    }
  }
  &__desc{   
    
    @include spaceIndex(s36,margin-top);
    @include spaceIndex(s80,padding-bottom);
   
    &>*{
      text-align: center;
      @include size(body1);
      color: map-get($color , text2);
      line-height: 1.2;
    }
  }
  
}