.posts{
  // background-color: white;
  &.posts--og{
    background-color: map-get($color, o2);
  }
  &-content{
    margin-top: 28px;

    width: calc(83.3333% - 8px);

    @include rp(tx){
      width: 100%;
    }

    &__title{
      &>*{
        color: #1D1D1B;
        @include h2;
      }
    }

    &__desc{
      &>*{
        @include body1;
        color: map-get($color, pg);
      }
      margin-top: 28px;
    }
    padding-bottom: 16px;
  }
  &-list{
    margin-top: calc(54px - 16px);
    // @include rp(mx){
    //   margin-top: calc(32px - 16px);
    // }
  }
}