.index-1 {
  @include space(s70, margin-top);
  &__content{
    @include spaceIndex(s50, padding-left);
    @include spaceIndex(s50, padding-right);
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    border-radius: 30px;
    position: relative;
  }
  &__title{
    @include spaceIndex(s80,padding-top);
    text-align: center;
    position: relative;
    &::after{
      position: absolute;
      top: calc(100% + 5px);
      left: 50%;
      transform: translateX(-50%);
      width: 40%;
      height: 2px;
      background: map-get($color , line1 );
    }
    &::before{
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 10px;
      height: 10px;
      border-radius: 100px;
      background: map-get($color , line1 );
    }
    &>*{
      @include title(small);
      color: map-get($color , text1);
      line-height: 1.2;
    }
  }
  &__desc{   
    
    @include spaceIndex(s36,margin-top);
    @include spaceIndex(s80,padding-bottom);
   
    &>*{
      text-align: center;
      @include size(body1);
      color: map-get($color , text2);
      line-height: 1.2;
    }
  }
}