.index-2{
    @include section(s72, padding-top);
    @include section(s72, padding-bottom);
    background: map-get($color , bg-2);
    &__wrapper{
        width: 100%;
    }
    .content{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        &-box{
            @include spaceIndex2(s70,padding-left);
            @include spaceIndex2(s70,padding-right);
            display: flex;
            flex: 33.3%;
            flex-direction: column;
            align-items: center;
            @include rp(tl){
                margin-top: 16px;
                // svg{
                //     width: 230px;
                //     height: 230px;
                // }
            }
            @include rp(mx){
                margin-top: 16px;
                svg{
                    width: 200px;
                    height: 200px;
                }
            }
            &__desc{
                @include spaceIndex2(s32,margin-top);
                &>*{
                    text-align: center;
                    @include size(body1);
                    color: map-get($color, text2 );
                    
                }
            }
        }
    }

}
