.index-4{
    background: map-get($color , bg-2 );
    @include spaceIndex4(s70, padding-top);
    @include spaceIndex4(s70, padding-bottom);

    &__wrapper{
        width: 100%;
    }
    &__title{
        display: flex;
        justify-content: center;
        @include spaceIndex4(s45, margin-bottom);
    }
}