$spaceIndex1: (
  s40:(
    default: 40px,
    pl: 32px,
    pm: 28px,
    tx: 24px,
    mx: 20px,
  ),
  s64:(
    default: 64px,
    pl: 56px,
    pm: 48px,
    tx: 40px,
    mx: 32px,
  ),
);
$spaceIndex2: (
  s8: (
    default: 8px
  ),
  s24:(
    default: 24px,
    pm: 20px,
  ),
  s50: (
    default: 50px,
    pl: 40px,
    ps: 8px,
  ),
);
$spaceIndex3: (
  s24: (
    default: 24px,
    pl: 18px,
    pm: 16px,
    ps: 14px,
    tx: 10px,
    
  ),
  s32: (
    default: 32px,
    pm: 28px,
    ps: 24px,
    tx: 20px,

  ),
 s40:(
  default: 40px,
  pm: 36px,
  tl: 32px,
  tm: 0px,
 ),
  s108:(
    default: 108px,
    pl: 98px,
    pm: 88px,
    ps: 40px,
    tx: 32px,
    ts: 28px,
    tm: 0px,

    
  ),
 
  
);
$spaceIndex4: (
  s24:(
    default: 24px,
    pm: 20px,
    tx: 16px,
    mx: 12px,
  ),
  s32:(
    default: 32px,
    pl: 28px,
    pm: 24px,
    tx: 20px,
    mx: 16px,

  ),
  s40: (
    default: 40px,
    pm: 32px,
    tx: 28px,
    mx: 24px,
  ),
  
);
//height
$blockIndex: (
  widthIndex1: (
    default: 410px,
    pm: 380px,
    tx: 100%,
    
  ),
  heightIndex1: (
    default: 580px,
  ),
  heightImg1:(
    default: 280px,
    pl: 220px,
    pm: 200px,
    tx: 180px,
  ),
  widthMoreIndex3: (
    default: 200px,
    pm: 180px,
    tx: 160px,
    mm: 100%,
    
  ),
  imgIndex3Width: (
    default: 630px,
    pm: 550px,
    tx: 480px,
    tm: 100%,
    
    

   
    
  ),
  imgIndex3Height: (
    default: 520px,
    pl: 485p,
    pm: 480px,
    tx: 435px,
    tl: 400px,
    tm: 380px,
    ts: 360px,
    mx: 320px,
    mm: 280px,
    ms: 260px,
    
    
  ),
  imgIndex4Width:(
    default: 100%,
  ),
  imgIndex4Height:(
    default: 230px,
    pm: 210px,
    ps: 200px,
    tx: 190px,
    ts: 180px,
    mx: 170px,
  ),
);
@mixin spaceIndex1($key, $name, $side: "-1") {
  @each $idx, $val in map-get($spaceIndex1, #{$key}) {
    @if $side == "-1" {
      @if $idx == default {
        #{$name}: $val;
      } @else {
        @media (max-width: map-get($media, $idx)) {
          #{$name}: $val;
        }
      }
    } @else {
      @if $idx == default {
        #{$name}: $val $side;
      } @else {
        @media (max-width: map-get($media, $idx)) {
          #{$name}: $val $side;
        }
      }
    }
  }
}

@mixin spaceIndex2($key, $name, $side: "-1") {
  @each $idx, $val in map-get($spaceIndex2, #{$key}) {
    @if $side == "-1" {
      @if $idx == default {
        #{$name}: $val;
      } @else {
        @media (max-width: map-get($media, $idx)) {
          #{$name}: $val;
        }
      }
    } @else {
      @if $idx == default {
        #{$name}: $val $side;
      } @else {
        @media (max-width: map-get($media, $idx)) {
          #{$name}: $val $side;
        }
      }
    }
  }
}
@mixin spaceIndex3($key, $name, $side: "-1") {
  @each $idx, $val in map-get($spaceIndex3, #{$key}) {
    @if $side == "-1" {
      @if $idx == default {
        #{$name}: $val;
      } @else {
        @media (max-width: map-get($media, $idx)) {
          #{$name}: $val;
        }
      }
    } @else {
      @if $idx == default {
        #{$name}: $val $side;
      } @else {
        @media (max-width: map-get($media, $idx)) {
          #{$name}: $val $side;
        }
      }
    }
  }
}
@mixin spaceIndex4($key, $name, $side: "-1") {
  @each $idx, $val in map-get($spaceIndex4, #{$key}) {
    @if $side == "-1" {
      @if $idx == default {
        #{$name}: $val;
      } @else {
        @media (max-width: map-get($media, $idx)) {
          #{$name}: $val;
        }
      }
    } @else {
      @if $idx == default {
        #{$name}: $val $side;
      } @else {
        @media (max-width: map-get($media, $idx)) {
          #{$name}: $val $side;
        }
      }
    }
  }
}
@mixin blockIndex($key, $name, $side: "-1") {
  @each $idx, $val in map-get($blockIndex, #{$key}) {
    @if $side == "-1" {
      @if $idx == default {
        #{$name}: $val;
      } @else {
        @media (max-width: map-get($media, $idx)) {
          #{$name}: $val;
        }
      }
    } @else {
      @if $idx == default {
        #{$name}: $val $side;
      } @else {
        @media (max-width: map-get($media, $idx)) {
          #{$name}: $val $side;
        }
      }
    }
  }
}