section#daily-2
    .daily-2
        .daily-2__wrapper
            .daily-2__wrapper--title
                each tit in ['1']
                    - let title = "Sinh hoạt hằng ngày";
                    include ../_layout/title.pug
            .daily-2__wrapper--swiper
                .swiper-container.myDaily-2
                    .swiper-wrapper
                        .swiper-slide
                            .daily-2__slide.column-6.column-12-mx
                                img(src="./assets/_page/daily/d-2-1.png", alt="")
                        .swiper-slide
                            .daily-2__slide.column-6.column-12-mx
                                img(src="./assets/_page/daily/d-2-2.png", alt="")
                        .swiper-slide
                            .daily-2__slide.column-6.column-12-mx
                                img(src="./assets/_page/daily/d-2-3.png", alt="")
                        .swiper-slide
                            .daily-2__slide.column-6.column-12-mx
                                img(src="./assets/_page/daily/d-2-4.png", alt="")
                        .swiper-slide
                            .daily-2__slide.column-6.column-12-mx
                                img(src="./assets/_page/daily/d-2-5.png", alt="")
                        .swiper-slide
                            .daily-2__slide.column-6.column-12-mx
                                img(src="./assets/_page/daily/d-2-6.png", alt="")
                        .swiper-slide
                            .daily-2__slide.column-6.column-12-mx
                                img(src="./assets/_page/daily/d-2-7.png", alt="")
                        .swiper-slide
                            .daily-2__slide.column-6.column-12-mx
                                img(src="./assets/_page/daily/d-2-1.png", alt="")
                        .swiper-slide
                            .daily-2__slide.column-6.column-12-mx
                                img(src="./assets/_page/daily/d-2-1.png", alt="")
