section#daily-3
    .daily-3
        .container
            .daily-3__wrapper
                .daily-3__wrapper--title
                    each tit in ['1']
                        - let title = "Hoạt động được tổ chức tại Làng";
                        include ../_layout/title.pug
                .daily-3__wrapper--swiper
                    .nav-custom
                        .swiper-container.myDaily-3
                            .swiper-wrapper
                                .swiper-slide
                                    .daily-3__slide.column-6.column-12-mx
                                        a(href="news-details.html").link-items 
                                        img(src="./assets/_page/daily/d-3-1.png", alt="")
                                        .daily-3__slide-infor
                                            p Lễ Giáng Sinh
                                .swiper-slide
                                    .daily-3__slide.column-6.column-12-mx
                                        a(href="news-details.html").link-items 
                                        img(src="./assets/_page/daily/d-3-2.png", alt="")
                                        .daily-3__slide-infor
                                            p Lễ Tổng kết
                                .swiper-slide
                                    .daily-3__slide.column-6.column-12-mx
                                        a(href="news-details.html").link-items 
                                        img(src="./assets/_page/daily/d-2-3.png", alt="")
                                        .daily-3__slide-infor
                                            p Lễ Tổng kết
                        .swiper-button-next
                            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.121 33.414">
                                <path id="Path_8" data-name="Path 8" d="M2300,2896l16,16-16,16" transform="translate(-2299.293 -2895.293)" fill="none" stroke="#066543" stroke-width="2"/>
                            </svg>
                        .swiper-button-prev
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.121 33.414">
                                <path id="Path_8" data-name="Path 8" d="M2316,2896l-16,16,16,16" transform="translate(-2298.586 -2895.293)" fill="none" stroke="#066543" stroke-width="2"/>
                            </svg>
