#story-1{
    height: 100%;
    .story-1--wrapper{
        @include section(s70, margin-top);
        @include section(s70, margin-bottom);
        display: flex;
        flex-direction: column;
        @include rp(ts){
            margin: 30px 0;
        }
        &__title{
            @include section(s70, margin-bottom);
            width: 100%;
            text-align: center;
        }
        &__content{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            height: 100%;
            margin: 0 -8px;
            &-img{
                height: 100%;
                padding: 0 8px;
                display: flex;
                flex-wrap: wrap;
                @include rp(tm){
                    height: auto;
                }
                @include rp(tm){
                    margin-bottom: 25px;
                }
                &_big{
                    width: 100%;
                    margin-bottom: 10px;
                }
                &_small{
                    width: 100%;
                    &-wrapper{
                        height: 100%;
                        margin: 0 -8px;
                        display: flex;
                        // align-items: center;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        [class*="column-"] {
                            padding: 0 8px;
                        }
                    }
                   
                    
                }
            }
            &-decs{
                height: 100%;
                // box-shadow: ;
                padding: 0 8px;
                @include rp(tm){
                    height: auto;
                }
                &_infor{
                    @include shadow(s1);
                    border-radius: 30px 0 30px 0;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
<<<<<<< HEAD
                    padding: 0 67px ;
                    line-height: 24px;
                    @include lineHeight(24);
=======
                    padding: 52px 67px;
>>>>>>> 069b6b54f9593a372f13c921f8267be341da7beb
                    &>*:not(:last-child){
                        margin-bottom: 10px;

                    }
                    @include rp(tx){
                        
                        padding: 57px ;
                    }
                    @include rp(tm){
                        height: auto;
                        padding: 47px ;
                    }
                    @include rp(mm){
                        padding: 27px ;
                    }
                }
               
            }
        }
    }
}