#story-2{
    background-color:#94F7BC ;
    .story-2--wrapper{
        width: 100%;
        padding: 70px 0;
        @include rp(ts){
            padding: 30px 0;
        }
        &__title{

        }
        &__content{
            width: 100%;
            
            &-items{
                cursor: pointer;
                width: 100%;
                padding-bottom: 100%;
                position: relative;
                overflow: hidden;
                border-radius: 31px 0 31px 0;
                &_img{
                   
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 1;
                }
                &_name{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    z-index: 3;
                    text-align: center;
                    background-color: white;
                    border-radius: 30px 0 30px 0;
                    padding: 25px 0;
                    @include rp(tl){
                        padding: 15px 0;
                    }
                    @include shadow(s1);
                    @include title(sub);
                    color: map-get($color, text2 );
                    transition: .2s ease-in-out;
                    &-hoverImg{
                        opacity: 0;
                        border-radius: 50%;
                        overflow: hidden;
                        position: absolute;
                        right: 40px;
                        top: -10%;
                        width: 98px;
                        height: 98px;
                        @include rp(tx){
                            width: 8vw;
                            height:8vw;
                        }
                        @include rp(ts){
                            width: 12vw;
                            height: 12vw;
                            top: -2vw;
                        }
                        @include rp(mm){
                            width: 98px;
                            height: 98px;
                            top: -35%;
                        }
                        transform: translateY(-50%)  translateX(50%);
                        border: solid 3px white;
                        transition: .3s ease-in-out;
                        img{
                            object-fit: cover;
                        }
                    }
                }
                &_hoverInfor{
                    background-color: map-get($color, sub1 );
                    // padding: 0;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    height: 0%;
                    z-index: 2;
                    transition: .4s ease-in-out;
                    overflow: hidden;
                    // transform-origin: top center;
                    &>*{
                        margin: 0 30px;
                        opacity:  0;
                        transition: .2s ease-in-out;
                        
                    }
                    .name{
                        margin-bottom: 15px;
                        color: white;
                        @include title(sub)
                    }
                    .infor{
                        @include p-line-clamp(8);
                        @include rp(tx){
                            @include p-line-clamp(5);
                        }
                        @include rp(tm){
                            @include p-line-clamp(4);
                        }
                        @include rp(ts){
                            @include p-line-clamp(7);
                        }
                        @include rp(mx){
                            @include p-line-clamp(4);
                        }
                        @include rp(ml){
                            @include p-line-clamp(3);
                        }
                        @include rp(mm){
                            @include p-line-clamp(10);
                        }
                        @include rp(ms){
                            @include p-line-clamp(8);
                        }
                        @include rp(sx){
                            @include p-line-clamp(6);
                        }
                        @include rp(sl){
                            @include p-line-clamp(4);
                        }
                        color: rgba(white, $alpha: .7);
                    }
                }
                &:hover{
                    .story-2--wrapper__content-items_hoverInfor{
                        height: 100%;
                        padding:  40px 0;
                        
                        &>*{
                            opacity: 1;
                            transition-delay: .3s;
                        }
                    }
                    .story-2--wrapper__content-items_name{
                        background-color: map-get($color,main  );
                        color:  map-get($color,main  );
                        &-hoverImg{
                            opacity: 1;
                            transition-delay: .3s;
                            transform: translateY(-50%) translateX(0);
                        }
                    }
                    
                }
            }
        }
    }
}