section#members2 
  .members2 
    .container 
      .members2__title
      .members2-wrapper.table-row.table-column-4.between 
        .members2-wrapper__item
          include ../_layout/card-members.pug 
        .members2-wrapper__item 
          include ../_layout/card-members.pug
        .members2-wrapper__item 
          include ../_layout/card-members.pug
        .members2-wrapper__item 
          include ../_layout/card-members.pug
