extends _templates/_layout/_layout.pug

block var
	- let title = 'Thành viên của làng';
	- let bodyClass = 'members-page';
	- let bannerSub = "bannerSub";
	- let imgBanner = {};
	- imgBanner.src = "./assets/_page/members/banner.png"
	- let pageName = "Thành viên của làng"
	- let contact = true;
block main
	div(id="membersPage")
		include _templates/members/m-1
		include _templates/members/m-2
		include _templates/_layout/_360deg.pug
		include _templates/_layout/_popup.pug
    
block scripts
