extends _templates/_layout/_layout.pug

block var
	- let title = 'Tin tức và sự kiện';
	- let bodyClass = 'story-page';
	//- - let indexFooter = "indexfooter";
	- let bannerSub = "bannerSub";
	- let imgBanner = {};
	- imgBanner.src = "./assets/_page/story/banner.png";
	- let pageName = "Tin tức và sự kiện";

block main
	div(id="newsPage")
		include _templates/news/n-1

block scripts
