extends _templates/_layout/_layout.pug

block var
	- let title = 'Chuyện về làng';
	- let bodyClass = 'story-page';
	//- - let indexFooter = "indexfooter";
	- let bannerSub = "bannerSub";
	- let imgBanner = {};
	- imgBanner.src = "./assets/_page/story/banner.png";
	- let pageName = "Chuyện về làng";

block main
	div(id="indexPage")
		include _templates/story/s-1
		include _templates/story/s-2

block scripts
