extends _templates/_layout/_layout.pug

block var
	- let title = 'Làng của con';
	- let bodyClass = 'village-page';
	- let bannerSub = "bannerSub";
	- let imgBanner = {};
	- imgBanner.src = "./assets/_page/village/banner.png";
	- let pageName = "Làng của con";

block main
	div(id="villagePage")
		include _templates/village/v-1
		include _templates/village/v-2

block scripts
