#members2{
  @include section(s70, margin-top);
}
.members2{
  position: relative;
  &::after{
    content: "";
    position: absolute;
    top: 86px;
    left: 0;
    right: 0;
    bottom: 86px;
    background-color: map-get($color, main);
    opacity: .37;
    z-index: -1;
  }
  &__title{
    @include section(s70, margin-bottom);
    text-align: center;
    width: 100%;
  }
  &-wrapper{
    &__item{
      padding-bottom: 6px;
    }
  }
}

#360{
  width: 100%;
  iframe{
    width: 100%;
  }
}