#index-1 
    .index-1 
        .container 
            .index-1__wrapper
                .index-1__content 
                    .index-1__title 
                        h1  Thông điệp Làng Hi Vọng!
                    .index-1__desc 
                        p Làng Hy Vọng – ngôi làng đặc biệt đang cưu mang, chăm sóc, nuôi nấng và giáo dục những trẻ em có hoàn cảnh khó khăn trên địa bàn Quảng Nam – Đà Nẵng. Nơi đây bù đắp cho các con một mái ấm gia đình đúng nghĩa.