section#index-1 
    .index-1
        each companionVal in ['1']
            - let title = 'Thông Điệp làng Hy vọng!';
            - let infoDesc = 'Làng Hy Vọng – ngôi làng đặc biệt đang cưu mang, chăm sóc, nuôi nấng và giáo dục những trẻ em có hoàn cảnh khó khăn trên địa bàn Quảng Nam – Đà Nẵng. Nơi đây bù đắp cho các con một mái ấm gia đình đúng nghĩa.';
            include ../_layout/_info-section.pug