#index-2 
    .index-2
        .container
            .index-2__wrapper
                .content.table-row.table-column-3.between.table-column-2-tm.table-column-1-mm
                    .content-box
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="258" height="264" viewBox="0 0 258 264">
                            <defs>
                                <filter id="Subtraction_1" x="5.694" y="0" width="212.869" height="115.781" filterUnits="userSpaceOnUse">
                                <feOffset dy="3" input="SourceAlpha"/>
                                <feGaussianBlur stdDeviation="3" result="blur"/>
                                <feFlood flood-opacity="0.161"/>
                                <feComposite operator="in" in2="blur"/>
                                <feComposite in="SourceGraphic"/>
                                </filter>
                                <filter id="Ellipse_90" x="63" y="92" width="141" height="142" filterUnits="userSpaceOnUse">
                                <feOffset dy="3" input="SourceAlpha"/>
                                <feGaussianBlur stdDeviation="3" result="blur-2"/>
                                <feFlood flood-opacity="0.161"/>
                                <feComposite operator="in" in2="blur-2"/>
                                <feComposite in="SourceGraphic"/>
                                </filter>
                            </defs>
                            <g id="Group_5126" data-name="Group 5126" transform="translate(-1678 -1681)">
                                <g id="Group_5125" data-name="Group 5125">
                                <g transform="matrix(1, 0, 0, 1, 1678, 1681)" filter="url(#Subtraction_1)">
                                    <path id="Subtraction_1-2" data-name="Subtraction 1" d="M114.445,97.781h0A129.15,129.15,0,0,0,32,68a130.634,130.634,0,0,0-17.306,1.151A128.936,128.936,0,0,1,209.563,28.244,154.635,154.635,0,0,0,114.446,97.78Z" transform="translate(0 6)" fill="#fff"/>
                                </g>
                                <path id="Intersection_1" data-name="Intersection 1" d="M113.775,257.111A154.276,154.276,0,0,1,209.563,28.244,129,129,0,0,1,129,258,130.247,130.247,0,0,1,113.775,257.111Z" transform="translate(1678 1687)" fill="#066543"/>
                                <path id="Intersection_2" data-name="Intersection 2" d="M97,129a128.416,128.416,0,0,1,14.694-59.848A129.106,129.106,0,0,1,258,197a128.418,128.418,0,0,1-14.694,59.849A129.105,129.105,0,0,1,97,129Z" transform="translate(1581 1687)" fill="#19c579"/>
                                <ellipse id="Ellipse_89" data-name="Ellipse 89" cx="22.5" cy="22" rx="22.5" ry="22" transform="translate(1759 1711)" fill="#19c579"/>
                                </g>
                                <g transform="matrix(1, 0, 0, 1, 1678, 1681)" filter="url(#Ellipse_90)">
                                <ellipse id="Ellipse_90-2" data-name="Ellipse 90" cx="61.5" cy="62" rx="61.5" ry="62" transform="translate(72 98)" fill="#fff"/>
                                </g>
                                <text id="_199" data-name="199" transform="translate(1812 1854)" fill="#066543" font-size="34" font-family="Montserrat-Regular, Montserrat" letter-spacing="0em"><tspan x="-27.532" y="0">199</tspan></text>
                            </g>
                        </svg>
                        .content-box__desc
                            p Số Trẻ Em Đã Được Giúp Đỡ
                    .content-box
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="258" height="264" viewBox="0 0 258 264">
                            <defs>
                                <filter id="Subtraction_1" x="5.694" y="0" width="212.869" height="115.781" filterUnits="userSpaceOnUse">
                                <feOffset dy="3" input="SourceAlpha"/>
                                <feGaussianBlur stdDeviation="3" result="blur"/>
                                <feFlood flood-opacity="0.161"/>
                                <feComposite operator="in" in2="blur"/>
                                <feComposite in="SourceGraphic"/>
                                </filter>
                                <filter id="Ellipse_90" x="63" y="92" width="141" height="142" filterUnits="userSpaceOnUse">
                                <feOffset dy="3" input="SourceAlpha"/>
                                <feGaussianBlur stdDeviation="3" result="blur-2"/>
                                <feFlood flood-opacity="0.161"/>
                                <feComposite operator="in" in2="blur-2"/>
                                <feComposite in="SourceGraphic"/>
                                </filter>
                            </defs>
                            <g id="Group_5126" data-name="Group 5126" transform="translate(-1678 -1681)">
                                <g id="Group_5125" data-name="Group 5125">
                                <g transform="matrix(1, 0, 0, 1, 1678, 1681)" filter="url(#Subtraction_1)">
                                    <path id="Subtraction_1-2" data-name="Subtraction 1" d="M114.445,97.781h0A129.15,129.15,0,0,0,32,68a130.634,130.634,0,0,0-17.306,1.151A128.936,128.936,0,0,1,209.563,28.244,154.635,154.635,0,0,0,114.446,97.78Z" transform="translate(0 6)" fill="#fff"/>
                                </g>
                                <path id="Intersection_1" data-name="Intersection 1" d="M113.775,257.111A154.276,154.276,0,0,1,209.563,28.244,129,129,0,0,1,129,258,130.247,130.247,0,0,1,113.775,257.111Z" transform="translate(1678 1687)" fill="#066543"/>
                                <path id="Intersection_2" data-name="Intersection 2" d="M97,129a128.416,128.416,0,0,1,14.694-59.848A129.106,129.106,0,0,1,258,197a128.418,128.418,0,0,1-14.694,59.849A129.105,129.105,0,0,1,97,129Z" transform="translate(1581 1687)" fill="#19c579"/>
                                <ellipse id="Ellipse_89" data-name="Ellipse 89" cx="22.5" cy="22" rx="22.5" ry="22" transform="translate(1759 1711)" fill="#19c579"/>
                                </g>
                                <g transform="matrix(1, 0, 0, 1, 1678, 1681)" filter="url(#Ellipse_90)">
                                <ellipse id="Ellipse_90-2" data-name="Ellipse 90" cx="61.5" cy="62" rx="61.5" ry="62" transform="translate(72 98)" fill="#fff"/>
                                </g>
                                <text id="_182" data-name="182" transform="translate(1812 1854)" fill="#066543" font-size="34" font-family="Montserrat-Regular, Montserrat" letter-spacing="0em"><tspan x="-27.532" y="0">182</tspan></text>
                            </g>
                        </svg>
                        .content-box__desc
                            p Số Trẻ Em Ở Đà Nẵng Cần Được Giúp Đỡ
                    .content-box
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="258" height="264" viewBox="0 0 258 264">
                            <defs>
                                <filter id="Subtraction_1" x="5.694" y="0" width="212.869" height="115.781" filterUnits="userSpaceOnUse">
                                <feOffset dy="3" input="SourceAlpha"/>
                                <feGaussianBlur stdDeviation="3" result="blur"/>
                                <feFlood flood-opacity="0.161"/>
                                <feComposite operator="in" in2="blur"/>
                                <feComposite in="SourceGraphic"/>
                                </filter>
                                <filter id="Ellipse_90" x="63" y="92" width="141" height="142" filterUnits="userSpaceOnUse">
                                <feOffset dy="3" input="SourceAlpha"/>
                                <feGaussianBlur stdDeviation="3" result="blur-2"/>
                                <feFlood flood-opacity="0.161"/>
                                <feComposite operator="in" in2="blur-2"/>
                                <feComposite in="SourceGraphic"/>
                                </filter>
                            </defs>
                            <g id="Group_5126" data-name="Group 5126" transform="translate(-1678 -1681)">
                                <g id="Group_5125" data-name="Group 5125">
                                <g transform="matrix(1, 0, 0, 1, 1678, 1681)" filter="url(#Subtraction_1)">
                                    <path id="Subtraction_1-2" data-name="Subtraction 1" d="M114.445,97.781h0A129.15,129.15,0,0,0,32,68a130.634,130.634,0,0,0-17.306,1.151A128.936,128.936,0,0,1,209.563,28.244,154.635,154.635,0,0,0,114.446,97.78Z" transform="translate(0 6)" fill="#fff"/>
                                </g>
                                <path id="Intersection_1" data-name="Intersection 1" d="M113.775,257.111A154.276,154.276,0,0,1,209.563,28.244,129,129,0,0,1,129,258,130.247,130.247,0,0,1,113.775,257.111Z" transform="translate(1678 1687)" fill="#066543"/>
                                <path id="Intersection_2" data-name="Intersection 2" d="M97,129a128.416,128.416,0,0,1,14.694-59.848A129.106,129.106,0,0,1,258,197a128.418,128.418,0,0,1-14.694,59.849A129.105,129.105,0,0,1,97,129Z" transform="translate(1581 1687)" fill="#19c579"/>
                                <ellipse id="Ellipse_89" data-name="Ellipse 89" cx="22.5" cy="22" rx="22.5" ry="22" transform="translate(1759 1711)" fill="#19c579"/>
                                </g>
                                <g transform="matrix(1, 0, 0, 1, 1678, 1681)" filter="url(#Ellipse_90)">
                                <ellipse id="Ellipse_90-2" data-name="Ellipse 90" cx="61.5" cy="62" rx="61.5" ry="62" transform="translate(72 98)" fill="#fff"/>
                                </g>
                                <text id="_133" data-name="133" transform="translate(1812 1854)" fill="#066543" font-size="34" font-family="Montserrat-Regular, Montserrat" letter-spacing="0em"><tspan x="-27.532" y="0">133</tspan></text>
                            </g>
                        </svg>
                        .content-box__desc
                            p Số Trẻ Em Đã Được Giúp Đỡ

