section#index-3 
    .index-3 
        .container
            .index-3__wrapper
                .content
                    .content__overlay.hoavan
                    .content__img 
                        img(src="./assets/_page/index/z2524528714987_d20cba26a3993ed2ec1de06963d8884e.png", alt="giám đốc")
                    .content__desc
                        p “Hành trình trao gửi yêu thương từ Làng Hy Vọng là một hành trình dài và nhiều trăn trở. Nổ lực hết mình để giúp các con được lớn lên, học tập và phát triển, cống hiến cho đời như bao bạn bè đồng trang lứa chính là sứ mệnh mà chúng tôi tâm niệm hằng ngày. Mỗi tấm lòng giúp đỡ các con Làng dù là nhỏ nhất đối với chúng tôi đều là đáng trân quý nhất”
                    .content__name
                        p Thầy Phan Thanh Vinh, Giám đốc Làng