#index-4 
    .index-4
        .container
            .index-4__wrapper
                .column.table-row.table-column-3.between
                    each val in ["1","2","3"]
                        include ../_layout/_box-1.pug