section#news1 
  .news1 
    .container 
      .news1-table.table-row
        .news1-wrapper.column-7.column-12-tm
          .news1-time 
            .time-post 
              .day 
                span 09
              .month 
                  span 01
              .year 
                  span 2017
          .news1-content 
            h1 Ngày hạnh phúc với 129 em nhỏ Làng Hy Vọng Đà Nẵng
            img(src="./assets/_page/news/Image1.png" alt="")
            p.alt Niềm vui mới với trẻ em Làng Hy Vọng Đà Nẵng
            p “Quả đúng là một Ngày Hạnh Phúc”, thầy Phan Thanh Vinh – Giám đốc Làng Hy Vọng TP Đà Nẵng không nén được niềm vui, trong chương trình “Ngày Hạnh Phúc” Kết nghĩa – Bảo trợ giữa Vicoschool – Risemount Foundation và Làng Hy Vọng vừa diễn ra mới đây.Làng Hy Vọng là nơi nuôi dạy trẻ em khó khăn ở thành phố Đà Nẵng được thành lập vào năm 1993 (địa chỉ tại số 209 đường Dũng Sĩ Thanh Khê, Quận Thanh Khê, TP Đà Nẵng). Đây là ngôi làng đặc biệt đã chăm sóc cho hơn 650 trẻ em mồ côi, trẻ em khiếm thính trên địa bàn Quảng Nam –Đà Nẵng, trong đó một số em đã xuất sắc nhận được học bổng du học ở các nước Nhật, Mỹ, Australia.
            img(src="./assets/_page/news/Image2.png" alt="")
            p.alt Làng Hy Vọng Đà Nẵng
            p Thầy Phan Thanh Vinh – Giám đốc Làng – người đã từ bỏ nhiều cơ hội phát triển sự nghiệp để tình nguyện ở lại Làng giúp đỡ, chăm lo cho các em trong gần 10 năm qua. Hiện nay, thầy Vinh cùng với đội ngũ cán bộ nhân viên đang chăm sóc cho 129 em nhỏ, trong đó có 44 em là trẻ khiếm thính.
            p Nhiều năm qua, do quỹ tài trợ ngày càng hạn chế, tài chính hạn hẹp nên việc duy trì hoạt động chăm lo cho 129 em nhỏ ở Làng Hy Vọng TP Đà Nẵng gặp nhiều khó khăn.
            p Cơ duyên khi ông Vũ Minh Trí - nguyên Tổng giám đốc Microsoft Việt Nam, Phó Chủ tịch Tập đoàn VNG và ông Bùi Đức Long - Chủ tịch hội đồng sáng lập Tập đoàn Vicoland, Nhà sáng lập thương hiệu bất động sản nghỉ dưỡng Risemount đã có dịp trao đổi với nhau về câu chuyện của Làng.
            p Người cha đỡ đầu Vũ Minh Trí khi ấy đã tâm sự với ông bạn của mình về một ngôi trường đặc biệt như thế nhưng đang phải đứng trước nguy cơ phải dừng hoạt động vì thiếu hụt về tài chính. Ông Bùi Đức Long sau đó đã sắp xếp một chuyến thăm Làng, cùng với ông Bùi Quang Nam - Phó Chủ tịch Tập đoàn giáo dục Nguyễn Hoàng trao tặng 150 triệu đồng tiền mặt để phần nào giúp đỡ các em. Ông cũng quyết định cùng với ông Vũ Minh Trí từ đây trở thành cha đỡ đầu mới của Làng, chăm lo và nuôi nấng cho các em nhỏ ở Làng Hy Vọng kể từ tháng 04/2021.
            img(src="./assets/_page/news/Image3.png" alt="")
            p.alt Ông Bùi Đức Long trao bảo trợ toàn phần cho Làng Hy Vọng Đà Nẵng thông qua Giám đốc Làng - thầy Phan Thanh Vinh
            p Mới đây, ngày 7/4, tại Làng đã diễn ra “Ngày Hạnh Phúc” – lễ kết nghĩa, bảo trợ giữa Hệ thống giáo dục Vicoschool – Risemount Foundation và Làng Hy Vọng. Tại đây, Quỹ từ thiện Risemount Foundation (thuộc Vicoland) đã cam kết bảo trợ toàn phần cho Làng Hy Vọng Đà Nẵng, đồng thời Hệ thống giáo dục Vicoschool (Vicoland) sẽ hỗ trợ tất cả giáo trình, chia sẻ kinh nghiệm giảng dạy, giúp đỡ trong công tác phát triển giáo dục học tập và vui chơi của trẻ em Làng trong thời gian tới.
            img(src="./assets/_page/news/Image4.png" alt="")
            p.alt Hệ thống giáo dục Vicoschool cam kết hỗ trợ đào tạo cho Làng Hy Vọng
            p Cá nhân ông Bùi Đức Long trong thời gian ngắn vừa qua đã kêu gọi được hơn 600 triệu đồng từ các tổ chức, đối tác của Tập đoàn Vicoland, những bằng hữu của ông cùng chung tay hỗ trợ, giúp đỡ cho trẻ em Làng Hy Vọng trong chương trình “Ngày Hạnh Phúc”.
            img(src="./assets/_page/news/Image5.png" alt="")
            p Từ phải sang: thầy Phan Thanh Vinh, ông Bùi Đức Long, ông Huỳnh Văn Hoa (Chủ tịch Hội bảo trợ phụ nữ và trẻ em nghèo bất hạnh TP Đà Nẵng) và ông Vũ Minh Trí với các em nhỏ Làng Hy Vọng
            img(src="./assets/_page/news/Image6.png" alt="")
            p.alt Niềm vui mới của cô và trò Làng Hy Vọng Đà Nẵng
            p Đồng hành trong sự kiện này, còn có sự hiện diện và chung tay của các đơn vị tài trợ khác, như đại diện hãng sơn Nippon Việt Nam, Ngân hàng Quốc dân, Hệ thống cầm đồ thân thiện T99, Công ty Cổ phần Mekong One, T99 Land, Tập đoàn FLG, Tập đoàn Vicoland… Tấm lòng của các mạnh thường quân sẽ giúp đỡ cho các con ở Làng Hy Vọng có cuộc sống sinh hoạt và học tập no ấm, đầy đủ hơn.

        .news1-sample.column-4.margin-left-auto.column-12-tm
          - let arrIndex4 = [["./assets/_page/index/index4-1.png","09","01","2017","Làng Hy Vọng TP Đà Nẵng – Khởi đầu Hành trình...","Cùng với gần 400 hoạt động xã hội, trách nhiệm chăm sóc sức khỏe cộng đồng mỗi năm, “hành trình 20 điểm yêu thương” năm nay sẽ là chuỗi hoạt động xuyên suốt."],["./assets/_page/index/index4-1.png","09","01","2017","Làng Hy Vọng TP Đà Nẵng – Khởi đầu Hành trình...","Cùng với gần 400 hoạt động xã hội, trách nhiệm chăm sóc sức khỏe cộng đồng mỗi năm, “hành trình 20 điểm yêu thương” năm nay sẽ là chuỗi hoạt động xuyên suốt."]]
          each val in arrIndex4 
              - let img = val[0];
              - let day = val[1];
              - let month = val[2];
              - let year = val[3];
              - let title = val[4];
              - let desc = val[5];
              .news1-sample__item
                a(href="#") 
                  include ../_layout/_box-1.pug


